@{
    ViewBag.Title = "About";
}
<div class="Head">
    <h2>@ViewBag.Title.</h2>

</div>
<div class="Head">


    <h3>Hello There</h3>

    <p>
        Wow, look at you checking out the about page. Well, if you really want to know I guess I will tell you a little something about why this was made. It all started because I the creator Of this am a Dm! I just thought it would be coll, and useful, to have a place that was orginized and looked nice for people and myself to store out home brewed creations. I am looking to update this place and included some more catigories that will be much in need while I continue the campaign I am currently running. <br />
        I get that this place isnt perfect yet but when it is I will make sure to brag about it here! untill then thank you for the visit and support!
    </p>
</div>
