@{
    ViewBag.Title = "Contact";
}
<div class="Head">
    <h2>@ViewBag.Title.</h2>

</div>

<div class="Head">


    <address>
        third star to the right<br />
        straight on till morning<br />
        <abbr title="Phone">P:</abbr>
        867.5309
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>